.header {
	display: flex;
	padding: 0 0 0 1rem;
	background-image: linear-gradient(to right bottom, $faucet-blue 50%, $white 50%);
}

.header-left {
	flex-basis: 50%;
	padding-top: 1rem;
	font-weight: 700;
	color: $white;
}

.header-right {
	flex-basis: 70%;
	align-self: flex-start;
}

.header-logo {
	max-width: 100%;
}

@media screen and (min-width: $breakpoint-xs-sm) {
	.header-left {
		font-size: 1.25rem;
	}
}

@media screen and (min-width: $breakpoint-sm) {
	.header {
		padding: 1rem 2rem 0;
	}

	.header-left {
		font-size: 1.5rem;
		padding: 1rem 0;
	}
}

@media screen and (min-width: $breakpoint-md) {
	.header-left {
		font-size: 2rem;
	}
}

@media screen and (min-width: $breakpoint-md-lg) {
	.header-left {
		font-size: 3rem;
	}
}

@media screen and (min-width: $breakpoint-lg) {
	.header-left {
		padding: 2rem 1rem;
		font-size: 3.5rem;
	}
}

@media screen and (min-width: $breakpoint-lg-xl) {
	.header {
		padding: 2rem 3rem 0;
	}

	.header-left {
		font-size: 4rem;
		padding: 2rem 0;
	}
}
