$logo-width: 156px;
$logo-height: 200px;

body {
	max-width: 50em;
	margin: 0 auto;
}

header {
	margin-top: 10px;
	padding-top: $logo-height;
	text-align: center;
	background-image: asset-url("logo.png");
	background-size: $logo-width $logo-height;
	background-position: top center;
	background-repeat: no-repeat;
}

header h1 {
	margin: 0;
}

header p {
	font-size: 1.2em;
}
