<nav>
	<ul>
		<li><a href="#getting-started">Getting Started</a></li>
		<li><a href="#description">Description</a></li>
		<li><a
				href="#manifest-files--integration-with-frameworks">Manifest
				Files &amp; Integration with
				Frameworks</a></li>
		<li><a href="#cli">CLI</a></li>
		<li><a href="#config-file">Config File</a></li>
		<li><a href="#sponsors--users">Sponsors &amp; Users</a></li>
		<li><a href="#background">Background</a></li>
		<li><a
				href="#troubleshooting--frequently-asked-questions-faq">Troubleshooting
				/ Frequently Asked Questions
				(FAQ)</a></li>
		<li><a href="#license">License</a></li>
	</ul>
</nav>
