<nav>
	<ul>
		<li><a href="/">Introduction</a></li>
		<li><a href="/cli">Command Line Interface</a></li>
		<li><a href="/manifest">Fingerprinting & Manifest</a></li>
		<li><a href="/watching">File Watching</a></li>

		<li>Pipelines</li>
		<ul>
			<li><a href="/js">JavaScript</a></li>
			<li><a href="/sass">Sass</a></li>
			<li><a href="/static">Static</a></li>
		</ul>

		<li>Integration</li>
		<ul>
			<li><a href="/rails">Rails</a></li>
			<li><a href="/spring-boot">Spring Boot</a></li>
		</ul>

		<li>Contributing</li>
		<ul>
			<li><a href="/contributing">In General</a></li>
			<li><a href="/build-pipeline">Build a Pipeline</a></li>
			<li><a href="/build-integration">Build an Integration</a></li>
		</ul>

		<li><a href="/faq">Troubleshooting / FAQ</a></li>
		<li><a href="/background">Background & Sponsors</a></li>
	</ul>
</nav>
