---
# Only the main Sass file needs front matter (the dashes are enough)
---

$font-family-base: 'Titillium Web', sans-serif;

@import "functions";
@import "variables";
@import "mixins/hover";
@import "reboot";
@import "syntax";

body {
	padding: 40px 20px 0;
}

aside {
	background-image: url(/assets/logo.png);
	background-position: top center;
	background-size: 200px 200px;
	background-repeat: no-repeat;
	padding-top: 210px;
}

ul {
	padding: 0;
	list-style-position: outside;
}

@media screen and (max-width: 768px) {
	header {
		text-align: center;
	}
}

@media screen and (min-width: 769px) {
	body {
		display: grid;
		grid-template-columns: 1fr 200px 500px 1fr;
		grid-template-areas: '. warning warning .' '. . header .' '. aside main .';
		grid-column-gap: 15px;
	}

	.warning {
		grid-area: warning;
	}

	header {
		grid-area: header;
	}

	aside {
		grid-area: aside;
	}

	main {
		grid-area: main;
	}
}

.warning {
	color: #721c24;
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
	border-radius: .25rem;
	padding: .75rem 1.25rem;
}
