.nav-toc-list {
	padding: 0;
	line-height: $base-line-height;
	list-style: none;

	.nav-toc-list {
		padding-left: 1rem;
	}
}

.nav-toc-link {
	text-decoration: none;

	&--active {
		&:before {
			content: "👉 "
		}
	}
}
