<header class="teaser">
		<strong class="tagline"><%= @tagline %></strong>

		<div class="logo">
				<video width="512" height="512" loop poster="<%= relative_url '/images/logo.png' %>">
						<source src="<%= relative_url '/images/logo.webm' %>" type="video/webm"/>
				</video>
		</div>
</header>
